apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api-container
          image: <YOUR_ECR_IMAGE_URL>
          ports:
            - containerPort: 3333
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
      imagePullSecrets:
        - name: ecr-secret
